database:
  dsn: "postgres://user:pass@localhost:5432/mydb?sslmode=disable"

options:
  dry_run: false
  stop_on_error: false
  batch_size: 100 # default: 1000
  create_tables_if_not_exist: false # tables still created when dry_run: true

# Tables will be loaded in the order they are defined here.
# If a table has foreign key/s, make sure to define it after the tables it depends on.
tables:
  - name: users
    file: data/users.csv
    truncate_before_load: true
    columns:
      id:
        source: USER_ID
        type: TEXT
      email:
        source: EMAIL_ADDRESS
        type: TEXT
      created_at:
        source: CREATED_DATE
        transform: date
        type: DATE
      is_active:
        source: ACTIVE_FLAG
        transform: boolean
        type: BOOLEAN
    ignore_columns:
      - LEGACY_STATUS

  - name: orders
    file: data/orders.csv
    truncate_before_load: true
    columns:
      id:
        source: ORDER_ID
        type: TEXT
      user_id:
        source: USER_ID
        type: TEXT
      total:
        source: TOTAL_AMOUNT
        type: NUMERIC(12,2)
      created_at:
        source: CREATED_DATE
        transform: date
        type: DATE
